// _dev.scss

.steps {
    margin: 2rem;
    display: flex;
    flex-direction: column;
}

.step {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 1.5rem;

    // &:first-child { padding-top: 0 !important; }
    // &:last-child { padding-bottom: 0 !important; }

    &::before, &::after {
        position: absolute;
        left: 2.5rem;
        width: 1px;
        height: 50%;
        content: "";
    }

    &::before { top: 0; }
    &::after { top: 50%; }

    &:not(:first-child)::before {
        background-color: blue;
    }
    &:not(:last-child)::after {
        background-color: blue;
    }

}

.step-number {
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: lightgray;
    z-index: 2;
    // opacity: 0.5;
}

.step-body {
    padding-left: 1rem;

    h5 { margin-bottom: 0.5rem; }
}

// Horizontal steps
@media (min-width: 992px) { 
    .steps {
        flex-direction: row;   
    }

    .step {
        display: block;
        flex-basis: 0;
        flex-grow: 1;
        text-align: center;
        
        &::before, &::after {
            top: 2.5rem;
            height: 1px;
        }
        &::before {
            display: none;
            left: 0;
        }
        &::after {
            left: 50%;
            width: 100%;
        }
    }

    .step-number {
        margin-right: auto;
        margin-left: auto;
    }
}