// _dev.scss

.steps {
    margin: 2rem;
}

.step {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 1.5rem;
}

.step-number {
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: lightgray;
    z-index: 2;
}

.step-body {
    padding-left: 1rem;

    h5 { margin-bottom: 0.5rem; }
}